body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    overflow-x:hidden;
    background: url(img/Безымянный-1.svg);
    width: 100%;
}
main{
    overflow-x: hidden;
    width: 100%;
}
p {font-size: 16px;}
.margin {
    font: 20px Raleway, sans-serif;
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #8f97a6; /* Dark Blue */
    color: #ffffff;
}


.container-fluid {
    padding-top: 35px;
    padding-bottom: 35px;
}
.navbar {
    /*padding-top: 0px;
    padding-bottom: 3px;*/
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

/*.slideanim {visibility:hidden;}*/

/*.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}*/
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
